<form (ngSubmit)="onSave()" class="form-container">
    <ng-container *ngFor="let category of lifeStyleData;let i=index">
        <div class="form-row">
            <div class="form-col">
                <app-select-button [label]="category.question" [options]="selectButtonOptions"
                    [tooltipText]="questionInfo[category.type]"
                    (valueChange)="questionValueChange($event, i)"></app-select-button>
            </div>
            <div class="form-col" *ngIf="category.value">
                <app-dropdown [label]="'Select frequency'" [options]="dropdownOptions[category.type]"
                    [placeholder]="'frequency'" (valueChange)="dropdownValueChange($event, i)"></app-dropdown>
            </div>
        </div>
    </ng-container>
    <p-button label="Save" type="submit"></p-button>
</form>