<p-table [columns]="selectedColumns" [value]="tableData" [resizableColumns]="true" styleClass="p-datatable-striped"
    [showCurrentPageReport]="true" [stateKey]="'table_'+key" [scrollable]="true"
    scrollHeight="450px" [loading]="loading" dataKey="id">
    <ng-template pTemplate="header" let-columns>
        <tr>
            <ng-container *ngFor="let col of columns">
                <ng-container *ngIf="col.field === 'name'; else otherTemplate">
                    <th pFrozenColumn pResizableColumn pReorderableColumn pSortableColumn="{{col.field}}">{{ col.header
                        | translate }}
                        <p-sortIcon field="{{col.field}}"></p-sortIcon>
                    </th>
                </ng-container>
                <ng-template #otherTemplate>
                    <th pResizableColumn pReorderableColumn pSortableColumn="{{col.field}}">{{ col.header | translate }}
                        <p-sortIcon field="{{col.field}}"></p-sortIcon>
                    </th>
                </ng-template>
            </ng-container>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-columns="columns" let-rowData let-rowIndex="rowIndex">
        <tr>
            <ng-container *ngFor="let col of columns">
                <ng-container *ngIf="col.field !='action' && col.field != 'status'">
                    <ng-container *ngIf="col.field === 'name'; else otherTemplate">
                        <td pFrozenColumn>{{ rowData[col.field] | translate }}</td>
                    </ng-container>
                    <ng-template #otherTemplate>
                        <td>{{ rowData[col.field]===true?'Yes':rowData[col.field]===false?'No':rowData[col.field] |
                            translate }}</td>
                    </ng-template>
                </ng-container>
                <td *ngIf="col.field =='status'">
                    <span
                        class="customer-badge {{ (rowData.statusBadge) ? rowData.statusBadge : rowData[col.field] }}">{{
                        rowData[col.field] }}</span>
                </td>
                <td *ngIf="col.field =='action'">
                    <span class="actionLink">
                        <i class="pi pi-pencil text-xl text-blue-500"></i>
                    </span>
                </td>
            </ng-container>
        </tr>
    </ng-template>
</p-table>