<p>Check the conditions that apply to you or any member of your immediate relatives?</p>
<div>
    <ng-container *ngFor="let condition of medicalConditions; let i = index">
        <button pButton type="button" class="p-button-sm mr-3 mb-2"
            [ngClass]="{'p-button-info': condition.value,'p-button-outlined':!condition.value}"
            [pTooltip]="condition.info" (click)="toggleCondition(i)">
            {{ condition.label }}
        </button>
    </ng-container>
</div>
<button class="p-button" (click)="submitForm()">Submit</button>