<div [formGroup]="medicationsForm">
    <p>Do you take medications for any of the following medical conditions?</p>
    <div formArrayName="conditions" class="form-container">
        <div *ngFor="let conditionGroup of conditionsArray.controls; let i = index" class="form-row">
            <div [formGroupName]="i" class="form-column">
                <p-toggleButton formControlName="condition" styleClass="p-button-sm"
                    [pTooltip]="medicalConditions[i].info" tooltipPosition="right"
                    (onChange)="toggleCondition($event, i)" [onLabel]="medicalConditions[i].label"
                    [offLabel]="medicalConditions[i].label"></p-toggleButton>
            </div>
            <div [formGroupName]="i" class="form-column">
                <div *ngIf="conditionGroup.get('condition')?.value">
                    <input pInputText type="text" formControlName="medicationName" placeholder="Medication Name">
                </div>
            </div>
            <div [formGroupName]="i" class="form-column">
                <div *ngIf="conditionGroup.get('condition')?.value">
                    <input pInputText type="text" formControlName="dosage" placeholder="Dosage">
                </div>
            </div>
        </div>
    </div>
    <button class="p-button" (click)="submitForm()">Submit</button>
</div>