<p-panel [toggleable]="true" class="w-100">
    <ng-template pTemplate="header">
        <div class="flex align-items-center gap-2">
            <p-avatar image="https://www.svgrepo.com/show/294826/user-profile.svg" size="large" shape="circle" />
            <span class="font-bold" *ngIf="profile.name">
                {{profile.name}} - {{profile.age}} {{profile.sex==='male'?'M':'F'}}
            </span>
        </div>
    </ng-template>
    <ng-template pTemplate="footer">
        <div class="flex flex-wrap align-items-center justify-content-between gap-3">
            <div class="flex align-items-center gap-2">
                <p-button icon="pi pi-user" />
                <p-button icon="pi pi-bookmark" />
            </div>
            <span class="p-text-secondary">
                Updated 2 hours ago
            </span>
        </div>
    </ng-template>
    <p class="m-0">
        Lorem ipsum dolor sit amet...
    </p>
</p-panel>