<ng-container *ngIf="parent==='medicalHistory'">
    <div class="field">
        <p-dropdown [options]="dropdownOptions" [(ngModel)]="data.personAffected" id="personAffected"
            optionLabel="label" optionValue="value" placeholder="Person Affected" class=" w-full"
            appendTo="body"></p-dropdown>
    </div>
    <div class="field">
        <input id="remarks" type="text" [(ngModel)]="data.remarks" placeholder="Remarks(if any)"
            class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
    </div>
</ng-container>
<ng-container *ngIf="parent==='medications'">
    <div class="field">
        <input id="medicationName" type="text" [(ngModel)]="data.medicationName" placeholder="Medication Name"
            class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
    </div>
    <div class="field">
        <input id="dosage" type="text" [(ngModel)]="data.dosage" placeholder="Dosage"
            class="text-base text-color surface-overlay p-2 border-1 border-solid surface-border border-round appearance-none outline-none focus:border-primary w-full">
    </div>
</ng-container>
<p-button label="Submit" (click)="onSubmit()"></p-button>